/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** Variable declerations */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --background: #f3e5d8;
  --spacing-unit: 2rem;
  --small-space: 1rem;
  --border-radius: 1rem;
  --outfit: "Outfit", sans-serif;
  --young-serif: "Young Serif", serif;
}

/** Global styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

p,
li,
table {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--stone-600);
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

li {
  margin-bottom: 1rem;
}

li:first-child {
  margin-top: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

.section-title {
  color: var(--brown);
  font-size: 1.5rem;
}

/** Container */
body {
  background-color: var(--background);
}
#container {
  max-width: 100%;
  background-color: var(--white);
}

main {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}

/** Header style */

header {
  width: 100%;
}

header img {
  width: 100%;
  object-fit: cover;
}

/** Section general design */

/** Intro styling */
#intro {
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
  padding-top: var(--spacing-unit);
}

.page-title {
  color: var(--stone-900);
}

.tagline {
  font-size: 1rem;
  color: var(--stone-600);
}

/** Preperation */
#preperation {
  background-color: var(--rose-50);
  padding: var(--small-space);
  border-radius: var(--border-radius);
}

#preperation .section-title {
  font-family: var(--outfit);
  color: var(--rose-800);
  font-size: 1.2rem;
  font-weight: 600;
}

#preperation li::marker {
  color: var(--rose-800);
}

/** Ingredients styles */

#ingredients,
#instructions {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: var(--spacing-unit);
}

/** Table styles */

table {
  border-collapse: collapse;
  min-width: 100%;
  margin: 0 auto;
}
td,
th {
  border-bottom: 1px solid var(--stone-150);
  padding: 0.5rem 1rem;
  text-align: start;
}

tr:last-of-type th,
tr:last-of-type td {
  border: none;
}

th {
  font-weight: 400;
}
td {
  color: var(--brown);
  font-weight: 600;
}
/** Footer styles */
footer {
  padding-top: var(--spacing-unit);
  padding: 0 2rem;
  text-align: end;
}

/** Media queries */
@media (min-width: 645px) {
  /** Container */
  body {
    background-color: var(--background);
  }
  #container {
    max-width: 980px;
    background-color: var(--white);
    margin: 0 auto;
  }

  main {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
  }
}

@media (min-width: 980px){
  body {
    padding:2rem;
  }
  
  #container {
    border-radius: var(--border-radius);
    padding: 1rem;
  }
  /** Header style */
  header img {
    border-radius: var(--border-radius);
  }
}
